.container {
    --_columns: span 12;
}

@media (width >= 48em) {

    .container--narrow {
        --_columns: 2 / span 10;
    }

    .container--standard {
        --_columns: 1 / span 12;
    }
}

@media (width >= 64em) {

    .container--narrow {
        --_columns: 3 / span 8;
    }

    .container--standard {
        --_columns: 2 / span 10;
    }
}

.container__grid {
    max-width: var(--max-width);
    margin: auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gutters);
}

.container__columns {
    width: 100%;
    grid-column: var(--_columns);
}
